body {
	background-image: url( img/background.jpg );
	background-attachment: fixed;
}

h1 {
    
    color: brown;
    text-align: center;
    padding: 10px;
}

h2 {
	text-align: center;
}

p, form {
	text-align: center;
}

div {
	margin-right:400px;
	margin-left:400px;
	margin-bottom:40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #D6D5D5;
	border: 2px #332D2D solid;
}